<html>
<head>
<title><TMPL_VAR title></title>
<link rel="stylesheet" type="text/css" href="/styles/layout.css">
</head>
<body>
<div id=header>
<h1><TMPL_VAR title></h1>
<div class=date>Uptime: <TMPL_VAR uptime></div>
</div>
<div class=content>
<table>
<tr><td>
